body{
  padding: 50px;
  background-color: #efefef;
  padding-bottom: 500px;
}

h1{
  color:#333;
}

p{
  background-color: #999;
  padding: 10px;
}

.btnAtivar{
  border: 1px solid black;
  padding: 5px 5px;
  border-radius: 10px;
}